on:
  push:
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
    - uses: subosito/flutter-action@v2
    - name: Prepare keystore path
      run: mkdir -p /opt
    - name: Decode Android keystore
      run: echo "${{ secrets.KEYSTORE }}" | base64 --decode > /opt/key.jks
    - name: Prepare key.properites
      run: echo "${{ secrets.KEY_PROPERTIES }}" | base64 --decode > android/key.properties
    - name: Set version name
      run: |
        PUBSPEC_VERSION="$(grep -oP 'version: \K.+' pubspec.yaml)"
        VERSION_NAME="v${PUBSPEC_VERSION}"
        echo "VERSION_NAME=${VERSION_NAME}" >> $GITHUB_ENV
        echo ${{ secrets.KEYSTORE}} 

    - name: Build APKs
      run: |
        flutter build apk --build-name="$VERSION_NAME" --release --target-platform android-arm,android-arm64 --split-per-abi
        # and rename them
        sudo apt-get install -y rename
        rename 's/app-/schmackofatz-app-/' build/app/outputs/flutter-apk/*.apk
    - name: Upload release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      uses: andelf/nightly-release@main
      with:
        prerelease: false
        tag_name: ${{ env.VERSION_NAME }}
        name: ${{ env.VERSION_NAME }}
        files: build/app/outputs/flutter-apk/*.apk

# needed for making releases
permissions:
  contents: write
